<header>
  <nav>
    <%= link_to image_tag "Quick_Reads_Logo_Square.png", {:height => 45} %>
    <h1>Quick Reads</h1>
    <ul>
      <li><%= link_to "Home",     root_path %></li>
      <li><%= link_to "Discover", root_path %></li>
      <li><%= link_to "Create",   root_path %></li>
      <li><%= link_to "Profile",  root_path %></li>
    </ul>
  </nav>
</header>
